:root {
  --hero-main-text-color: #fff;
  --hero-cta-text-color: #fce38a;
  --main-text-color: #333;
  --second-text-color: #999;
  --section-header-underline-color: #f38181;
  --section-header-h3: 'Kaushan Script', cursive;
  --section-header-h2: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #333333;
  background-color: #fff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, ul {
  margin: 0;
}

.page {
  scroll-behavior: smooth;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: .5em;
}

.header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .content .logo a {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--hero-main-text-color);
}

.header .content .nav {
  vertical-align: center;
  text-transform: uppercase;
}

.header .content .nav li {
  display: inline;
  padding-left: 1em;
}

.header .content .nav li a {
  color: var(--hero-main-text-color);
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.header .content .nav li a:hover {
  color: #ffc933;
  text-decoration: underline;
}

.section {
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/hero.jpg) center no-repeat;
  background-size: cover;
}

.hero .hero-title-container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.hero .hero-title-container .hero-title-suphead {
  color: var(--hero-main-text-color);
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  text-align: center;
}

.hero .hero-title-container .hero-title {
  color: var(--hero-main-text-color);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.hero .hero-title-container .hero-title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;
  background-color: var(--hero-main-text-color);
}

.hero .hero-title-container .hero-cta {
  display: inline-block;
  color: var(--hero-main-text-color);
  vertical-align: top;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 30px;
  border: 3px solid var(--hero-main-text-color);
  -webkit-transition: color .3s linear, border .3s linear;
  transition: color .3s linear, border .3s linear;
}

.hero .hero-title-container .hero-cta:hover {
  color: #ffc933;
  border-color: var(--hero-cta-text-color);
}

.section-header {
  text-align: center;
  margin-top: 2em;
}

.section-header .section-header-suptitle {
  font-family: var(--section-header-h3);
  font-weight: 900;
  color: var(--main-text-color);
}

.section-header .section-header-title {
  font-family: var(--section-header-h2);
  text-transform: uppercase;
}

.section-header .section-header-title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 2.5em auto;
  background-color: var(--section-header-underline-color);
}

.section-header .section-header-text {
  color: var(--second-text-color);
  font-size: 1rem;
  margin-bottom: 4em;
}

.about-us-img {
  max-width: auto;
  margin: 3em 0;
}

.about-us-img .about-us-img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us-img .about-us-img-list li {
  list-style: none;
  padding: 0 1.6rem;
}

.about-us-img .about-us-img-list li img {
  width: 100%;
}

.about-us-statistic {
  background-color: #95e1d3;
  height: 18rem;
}

.about-us-statistic .about-us-statistic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us-statistic .about-us-statistic-list li {
  color: #fff;
  width: 100%;
  list-style: none;
  text-align: center;
}

.about-us-statistic .about-us-statistic-list li h1 {
  font-size: 4.8rem;
}

.about-us-statistic .about-us-statistic-list li h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */